# Análise sobre evolução da capacidade dos leitos durante a pandemia de Covid-19 no estado de Goiás

Esse projeto tem como fonte os dados obtidos através do site DataSUS, subsistema LT do sistema CNES (Cadastro Nacional de Estabelecimentos de Saúde), com intuito de responder as seguintes questões:

 - 1: Comparar distribuição geográfoca dos leitos por município antes e depois da pandemia
 - 2: Evolução do número de leitos durante os anos;
 - 3: Verificar declínio na capacidade hospitalar instalada;
 - 4: Comparar a quantidade de leitos SUS e não SUS no tempo e espaço.

 Dados obtidos através da biblioteca microdatasus, em linguagem R.

 SALDANHA, Raphael de Freitas; BASTOS, Ronaldo Rocha; BARCELLOS, Christovam. Microdatasus: pacote para download e pré-processamento de microdados do Departamento de Informática do SUS (DATASUS). Cad. Saúde Pública, Rio de Janeiro , v. 35, n. 9, e00032419, 2019 . Available from http://ref.scielo.org/dhcq3y.

Abaixo o dicionário de dados, de acordo com a documentação presente no site ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/doc/IT_CNES_1706.pdf.

| SEQ | CAMPO | TIPO E TAM | DESCRIÇÃO |
|-----|-------|------------|-----------|
| 1 | CNES | CHAR (7) | Número nacional do estabelecimento de saúde |
| 2 | CODUFMUN | CHAR (6) | Código do município do estabelecimento UF+ MUNIC (sem dígito)
| 4 | REGSAUDE | CHAR (6) | Código da região de saúde
| 5 | MICR_REG | CHAR (4) | Código da micro-região de saúde
| 6 | DISTRSAN | CHAR (4) | Código do distrito sanitário
| 7 | DISTRADM | CHAR (1) | Código do distrito administrativo
| 8 | PF_PJ | CHAR (1) | Indicador de pessoa: 1-Física 3-Jurídica
| 9 |CPF_CNPJ | CHAR (14) | CPF do Estabelecimento, caso pessoa física OU CNPJ, caso pessoa jurídica
| 10 | NIV_DEP | CHAR (1) | Grau de dependência: 1-Individual 3-Mantida
| 11 | CNPJ_MAN | CHAR (14) | CNPJ da mantenedora do Estabelecimento
| 12 | ESFERA_A | CHAR (2) | Código da esfera administrativa
| 13 | ATIVIDAD | CHAR (2) | Código da atividade de ensino
| 14 | RETENCAO | CHAR (2) | Código de retenção de tributos
| 15 | NATUREZA | CHAR (2) | Código da natureza da organização
| 16 | CLIENTEL | CHAR (2) | Código de fluxo da clientela
| 17 | TP_UNID | CHAR (2) | Tipo de unidade (Estabelecimento)
| 18 | TURNO_AT | CHAR (2) | Código de turno de atendimento
| 19 | NIV_HIER | CHAR (2) | Código do nível de hierarquia
| 20 | TERCEIRO | CHAR (1) | O estabelecimento é terceiro: 1-Sim 0-Não
| 21 | TP_LEITO | CHAR (2) | Tipo do LEITO
| 22 | CODLEITO | CHAR (2) | Especialidade do LEITO
| 23 | QT_EXIST | NUMERIC (4) | Quantidade de leitos existentes
| 24 | QT_CONTR | NUMERIC (4) | Quantidade de leitos contratados
| 25 | QT_SUS | NUMERIC (4) | Quantidade de leitos para o SUS
| 26 | QT_NSUS| CHAR(1) | Indicador de EQUIPAMENTO NÃO DISPONÍVEL para o SUS, onde: 1 = SIM 0 = NÃO
| 27 | COMPETEN | CHAR (6) | Ano e Mês de competência da informação (AAAAMM)
| 28 | NAT_JUR | CHAR (4) | Natureza Jurídica

# 0.0 Imports

In [2]:
import subprocess

import pandas as pd
import numpy  as np

## 0.1 Getting Data

In [13]:
get_data = subprocess.call("Rscript ../notebooks/get_data_datasus.R", shell=True)
get_data

Your local Internet connection seems to be ok.
DataSUS FTP server seems to be up. Starting download...
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1901.dbc'
Content type 'unknown' length 32104 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1902.dbc'
Content type 'unknown' length 32114 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1903.dbc'
Content type 'unknown' length 32215 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1904.dbc'
Content type 'unknown' length 32135 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1905.dbc'
Content type 'unknown' length 31984 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1906.dbc'
Content type 'unknown' length 31848 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1907.dbc'
Content type 'unknown' length 31763 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1908.dbc'
Content type 'unknown' length 31521 bytes (30 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1909.dbc'
Content type 'unknown' length 31934 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1910.dbc'
Content type 'unknown' length 31730 bytes (30 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1911.dbc'
Content type 'unknown' length 31745 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO1912.dbc'
Content type 'unknown' length 31720 bytes (30 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2001.dbc'
Content type 'unknown' length 32072 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2002.dbc'
Content type 'unknown' length 32055 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2003.dbc'
Content type 'unknown' length 32319 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2004.dbc'
Content type 'unknown' length 32403 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2005.dbc'
Content type 'unknown' length 32502 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2006.dbc'
Content type 'unknown' length 32574 bytes (31 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2007.dbc'
Content type 'unknown' length 32801 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2008.dbc'
Content type 'unknown' length 33165 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2009.dbc'
Content type 'unknown' length 33093 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2010.dbc'
Content type 'unknown' length 33220 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2011.dbc'
Content type 'unknown' length 33060 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2012.dbc'
Content type 'unknown' length 33194 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2101.dbc'
Content type 'unknown' length 32968 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2102.dbc'
Content type 'unknown' length 32904 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2103.dbc'
Content type 'unknown' length 33496 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2104.dbc'
Content type 'unknown' length 33654 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2105.dbc'
Content type 'unknown' length 33802 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2106.dbc'
Content type 'unknown' length 34009 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2107.dbc'
Content type 'unknown' length 34130 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2108.dbc'
Content type 'unknown' length 34501 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2109.dbc'
Content type 'unknown' length 34244 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2110.dbc'
Content type 'unknown' length 34424 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2111.dbc'
Content type 'unknown' length 34455 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2112.dbc'
Content type 'unknown' length 34507 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2201.dbc'
Content type 'unknown' length 34670 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2202.dbc'
Content type 'unknown' length 34633 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2203.dbc'
Content type 'unknown' length 34650 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2204.dbc'
Content type 'unknown' length 34590 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2205.dbc'
Content type 'unknown' length 34516 bytes (33 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2206.dbc'
Content type 'unknown' length 33544 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2207.dbc'
Content type 'unknown' length 33611 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2208.dbc'
Content type 'unknown' length 33622 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2209.dbc'
Content type 'unknown' length 33630 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2210.dbc'
Content type 'unknown' length 33650 bytes (32 KB)
==================================================
trying URL 'ftp://ftp.datasus.gov.br/dissemin/publicos/CNES/200508_/Dados/LT/LTGO2211.dbc'
Content type 'unknown' length 33479 bytes (32 KB)
==================================================

0

## 0.2. Loading Data

In [3]:
data_raw = pd.read_csv("../data/raw/cnes_lt-2019_2022.csv", index_col= 0)
data_raw.sample(5)

/tmp/ipykernel_4756/3053487540.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  data_raw = pd.read_csv("../data/raw/cnes_lt-2019_2022.csv", index_col= 0)

,CNES,CODUFMUN,REGSAUDE,MICR_REG,DISTRSAN,DISTRADM,TPGESTAO,PF_PJ,CPF_CNPJ,NIV_DEP,...,NIV_HIER,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR
46406,2506661,520870,NaN,NaN,NaN,NaN,M,3,0,3,...,NaN,NaN,7,69,10,0,10,0,202005,1023
95297,2589761,520140,001,NaN,NaN,NaN,M,3,26878439000105,1,...,NaN,NaN,1,3,1,0,0,1,202110,2062
109682,2437023,521483,0009,NaN,NaN,NaN,M,3,0,3,...,NaN,NaN,6,34,1,0,1,0,202202,1244
106928,9403507,521880,001,NaN,NaN,NaN,M,3,19559480000153,1,...,NaN,NaN,1,11,3,0,1,2,202201,2062
69589,2339765,520870,NaN,NaN,NaN,NaN,M,3,1011865000116,1,...,NaN,NaN,2,44,1,0,0,1,202101,2062

In [57]:
df1 = data_raw.copy()

# 1.0. Data Description

### 1.1 Data Dimensions

In [18]:
print('Number of rows: {}' .format(df1.shape[0]))
print('Number of columns: {}' .format(df1.shape[1]))

Number of rows: 137257
Number of columns: 28

### 1.2. Data Types

In [12]:
df1.dtypes

CNES          int64
CODUFMUN      int64
REGSAUDE     object
MICR_REG     object
DISTRSAN    float64
DISTRADM     object
TPGESTAO     object
PF_PJ         int64
CPF_CNPJ      int64
NIV_DEP       int64
CNPJ_MAN      int64
ESFERA_A    float64
ATIVIDAD      int64
RETENCAO    float64
NATUREZA    float64
CLIENTEL    float64
TP_UNID       int64
TURNO_AT      int64
NIV_HIER    float64
TERCEIRO    float64
TP_LEITO      int64
CODLEITO      int64
QT_EXIST      int64
QT_CONTR      int64
QT_SUS        int64
QT_NSUS       int64
COMPETEN      int64
NAT_JUR       int64
dtype: object

In [58]:
df1['COMPETEN'] = pd.to_datetime( df1['COMPETEN'], format = '%Y%m')
df1.dtypes

CNES                 int64
CODUFMUN             int64
REGSAUDE            object
MICR_REG            object
DISTRSAN           float64
DISTRADM            object
TPGESTAO            object
PF_PJ                int64
CPF_CNPJ             int64
NIV_DEP              int64
CNPJ_MAN             int64
ESFERA_A           float64
ATIVIDAD             int64
RETENCAO           float64
NATUREZA           float64
CLIENTEL           float64
TP_UNID              int64
TURNO_AT             int64
NIV_HIER           float64
TERCEIRO           float64
TP_LEITO             int64
CODLEITO             int64
QT_EXIST             int64
QT_CONTR             int64
QT_SUS               int64
QT_NSUS              int64
COMPETEN    datetime64[ns]
NAT_JUR              int64
dtype: object

In [45]:
import csv
municipios = {}

with open('../data/external/codigo_cidades.csv') as csv_file:
    reader = csv.DictReader(csv_file)
    for row in reader:
        municipios[row['Codigo_Municipio_Completo'][:-1]] = row['Nome_Municipio']

#print(municipios)

In [65]:
#Converter o codigo para o tipo string para que o dicionario funcione
df1['CODUFMUN'] = df1['CODUFMUN'].astype('str')

# Criar um coluna com o nome da cidade atraves do codigo de municipio fornecido pelo IBGE
df1['CIDADE'] = df1['CODUFMUN'].map(municipios)
df1.sample()

,CNES,CODUFMUN,REGSAUDE,MICR_REG,DISTRSAN,DISTRADM,TPGESTAO,PF_PJ,CPF_CNPJ,NIV_DEP,...,TERCEIRO,TP_LEITO,CODLEITO,QT_EXIST,QT_CONTR,QT_SUS,QT_NSUS,COMPETEN,NAT_JUR,CIDADE
64514,2569841,521060,4,NaN,NaN,NaN,M,3,0,3,...,NaN,5,45,2,0,2,0,2020-11-01,1244,Itaguaru

### 1.3. Descriptive Statistical

In [66]:
num_attributes = df1.select_dtypes(include = ['int64', 'float64'])
cat_attributes = df1.select_dtypes(exclude = ['int64', 'float64', 'datetime64[ns]'])

### 1.3.1 Numerical Attributes

In [67]:
# Central Tendency - mean, median
ct1 = pd.DataFrame( num_attributes.apply(np.mean)).T
ct2 = pd.DataFrame( num_attributes.apply(np.median)).T

# Dispersion - std, min, max, range, skew, kurtosis
d1 = pd.DataFrame(num_attributes.apply(np.std)).T
d2 = pd.DataFrame(num_attributes.apply(min)).T
d3 = pd.DataFrame(num_attributes.apply(max)).T
d4 = pd.DataFrame(num_attributes.apply(lambda x: x.max() - x.min())).T
d5 = pd.DataFrame(num_attributes.apply(lambda x: x.skew())).T
d6 = pd.DataFrame(num_attributes.apply(lambda x: x.kurtosis())).T

# Concatenate
m = pd.concat( [ d2, d3, d4, ct1, ct2, d1, d5, d6]).T.reset_index()
m.columns = ["attributes","min","max","range","mean","median","std","skew","kurtosis"]

In [68]:
m

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,CNES,24074.0,9.953086e+06,9.929012e+06,3.242655e+06,2.443198e+06,1.980960e+06,2.097842,3.280411
1,DISTRSAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PF_PJ,3.0,3.000000e+00,0.000000e+00,3.000000e+00,3.000000e+00,0.000000e+00,0.000000,0.000000
3,CPF_CNPJ,0.0,8.684038e+13,8.684038e+13,5.196598e+12,1.323146e+12,1.092718e+13,2.947678,9.424538
4,NIV_DEP,1.0,3.000000e+00,2.000000e+00,1.801985e+00,1.000000e+00,9.801989e-01,0.404035,-1.836782
5,CNPJ_MAN,0.0,6.097574e+13,6.097574e+13,2.183671e+12,0.000000e+00,6.603983e+12,4.166500,17.937677
6,ESFERA_A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ATIVIDAD,1.0,5.000000e+00,4.000000e+00,3.946859e+00,4.000000e+00,3.186684e-01,-2.017998,13.102580
8,RETENCAO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NATUREZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,CLIENTEL,1.0,3.000000e+00,2.000000e+00,2.604003e+00,NaN,7.753641e-01,-1.513957,0.380984
11,TP_UNID,5.0,7.700000e+01,7.200000e+01,6.984168e+00,5.000000e+00,9.281929e+00,5.740847,32.866532
12,TURNO_AT,3.0,6.000000e+00,3.000000e+00,5.658109e+00,6.000000e+00,8.628493e-01,-2.295277,3.660991
13,NIV_HIER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,TERCEIRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,TP_LEITO,1.0,7.000000e+00,6.000000e+00,2.665511e+00,2.000000e+00,1.626662e+00,0.693251,-0.565108
16,CODLEITO,1.0,9.600000e+01,9.500000e+01,3.082678e+01,3.300000e+01,2.340439e+01,0.643161,-0.201900
17,QT_EXIST,0.0,3.430000e+02,3.430000e+02,7.151497e+00,4.000000e+00,1.477885e+01,9.743116,145.291160
18,QT_CONTR,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
19,QT_SUS,0.0,2.750000e+02,2.750000e+02,4.303933e+00,1.000000e+00,1.121930e+01,10.190221,165.519761
20,QT_NSUS,0.0,2.030000e+02,2.030000e+02,2.847563e+00,1.000000e+00,8.478020e+00,12.546864,237.865439
21,NAT_JUR,1015.0,3.999000e+03,2.984000e+03,1.907149e+03,2.062000e+03,7.958604e+02,1.393603,1.681720

### 1.3.2 Categorical Attributes

In [69]:
cat_attributes.apply(lambda x: x.unique().shape[0])

CODUFMUN    195
REGSAUDE     49
MICR_REG      9
DISTRADM      7
TPGESTAO      3
CIDADE      195
dtype: int64

# 2.0. Feature Engineering

# 3.0 Data Filtering

# 4.0. EDA

# 5.0. Dashboards